
* {box-sizing: border-box;}



#navbar {
  overflow: hidden;
  background-color: white;
  padding: 30px 30px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  marging: 5px;

}

#navbar #logo {
  transition: 0.4s;
}



#navbar-right {
  float: right;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 10px 20px !important;
  }
  body {
    padding: 75px 0px;
    line-height: 1;
}
  #navbar a {
    float: none;
    display: block;
    text-align: center;
  }
  #navbar-right {
    float: none;
  }
}

